# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.dbmdl
*.bak
*.log
*.vspscc
*.vssscc

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover
*.dotCover

# Publish
publish/

# Local test run
*.trx

# User-specific files
*.vs/